<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.controlepresenca239878" version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Controle de Presença</name>
  <description>
        Conntrole de Presença 
  </description>
  <author email="ssvsistemas@hotmail.com" href="http://ssvsistemas.com.br/">
      SSVsistemas
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="1000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>       
</widget>